.Start{
    text-align: center;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.loading{
    display: block;
    position: fixed;
    z-index: 1031; 
    top: 50%;
    right: 50%;
}

.siguiente{
    height: 3.4rem;
    margin-top: 20px;
}

.barra{
}
.nombres{
    justify-content: right;
    padding:10px;
}
.RowNombre{
    margin:10px;
}